{% extends 'base.html' %}
{% block content %}

<h1>{{vinyl.title}}</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ vinyl.title }}</span>
    <p>Title: {{ vinyl.title }}</p>
    <p>Artist: {{ vinyl.artist}}</p>
    <p>Released: {{ vinyl.release}}</p>
    <p>Description: {{ vinyl.description }}</p>
    <p><a href="/{{ vinyl.id }}/edit/" class='waves-effect waves-light btn'>Edit</a></p>
    <p><a href="/{{ vinyl.id }}/delete" class='waves-effect waves-light btn red'>Delete</a></p>
  </div>
</div>
{% endblock %}